.product-image {
    margin-right: 10px;
}

@media screen and (min-width: 800px) {
    .products-container {
        display: flex !important;
        background-color: red;
    }
}

.product-details {
    padding: 5px;
}

.product-name {
    color: blue;
    font-weight: 500;
}

.cartBtn {
    padding: 5px 30px;
    background-color: yellow;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}