.header img {
    width: 300px;
    height: 80px;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.header nav {
    background-color: black;
    line-height: 42px;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 9px;
    margin: 5px;
    font-size: 20px;
}

.searchBox {
    background-color: #222;
    line-height: 60px;
}

.searchBox input {
    width: 80%;
    line-height: 22px;
    font-size: 17px;
}

.header nav a:hover {
    background-color: gray;
}

.cartCount {
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
}

.fontAwesome {
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}