.header img {
    width: 300px;
    height: 80px;
}

.profile {
    width: 40px !important;
    height: 40px !important;
    margin: none !important;
    padding: none !important;
    position: absolute;
    border-radius: 50%;
}

.navber-menu {
    margin-left: 0 auto;
    background-color: gray;
    line-height: 35px;
}

.navber-item {
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 9px;
    margin: 5px;
    font-size: 20px;
}

.cartCount {
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
}

.fontAwesome {
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}